@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

.ui-widget-content {
	background: url(#{ resource [ 'images:cabecalho_fundo.png' ]
}

)
no-repeat


;
border


:

 

1
px

 

solid

 

#cccccc


;
}
header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 60px;
	background-image: url("../resources/css/cabecalho6.gif");
	background-size: auto 70px;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header>div {
	margin-left: 8px
}

#conteudo {
	padding: 0px 8px
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}

.rotulo {
	width: 150px
}

.ui-panelgrid td {
	height: 34px
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-selectmanycheckbox td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label {
	padding-right: 10px;
}

.produto-tabela input {
	width: 99%;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em !important;
}

.ui-tabs {
	padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	padding: 0px !important;
}
/* Customiza TabView - fim */

/* Menu sistema inicio */
.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent>a .ui-menuitem-text, .menu-sistema>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
	{
	color: #ffffff !important;
}

.menu-sistema .ui-icon-triangle-1-s {
	background: url(#{ resource [ 'images:seta-para-baixo.png' ]
}

)
no-repeat


;
}
.rodape {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	background-color: #A7C4D2;
	height: 100px;
}

#home_apresetacao {
	right: 0px;
	margin: 0px auto;
	max-width: 300px;
	position: relative;
}

.apresentacao_imagem {
	margin: 0 auto;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	min-width: 280px;
}

.text_apresentacao {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #A7C4D2;
}
/* Menu sistema fim */

/*Configurações para cabeçalho e rodapé*/
.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-south {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-south .ui-layout-unit-content {
	overflow: visible !important;
}

.companyHeaderGrid.ui-panelgrid>*>tr, .companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell
	{
	border: none;
}

.colunaContrato {
	width: 90px;
}

element.style {
	height: 0px !important;;
	position: relative !important;;
	visibility: visible !important;;
}